* {
    font-family: 'NanumSquareRound';
    padding: 0;
    margin: 0;
}

.wrap {
    font-family: CookieRun-Regular;
}

.title {
    margin: 2rem !important;
    border-bottom: 5px solid #374b73;
    width: 8rem;
}

#newCategoryBtn,
#newBoardBtn {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #eeeeee;
}

.sidebar-wrapper {
    padding: 0.5rem 0.5rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    border-radius: 1rem;
    margin: 1rem 0 !important;
    padding-top: 1rem;
    height: 50rem !important;
    overflow-y: scroll;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sidebar-header {
    font-size: 1.2rem;
    border-bottom: 1px solid #ffffff;
}

.sidebar-wrapper .sidebar-container {
    padding: 0.5rem 0.5rem;
    margin-top: 1.0rem;
}

.sidebar-wrapper .sidebar-container .sidebar-category {
    border: solid 1px black;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    height: 4rem;
    width: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 3rem;
    cursor: pointer;
}

.sidebar-wrapper .sidebar-container .sidebar-board {
    margin-left: 3rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    border: solid 1px black;
    border-radius: 10px;
    width: 8rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 3px 3px 10px #cccccc;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.sidebar-wrapper .sidebar-container .sidebar-category:hover {
    background-color: #23d5ab;
}

.sidebar-wrapper .sidebar-container .sidebar-board:hover {
    background-color: #ff9a9a;
}

.content-wrapper .content-container .content-area {
    position: absolute;
    padding: 3rem;
    top: 0;
    left: 0;
    width: 100%;
}

.list-type-btn {
    background-color: #fff1ed;
    border: 3px solid #374b73;
    border-radius: 2px 2px;
    padding: 0.3rem;
    margin: 0.3rem;
}


/* 이미지 미리 보기 */

:root {
    --bgColor: #fff1ed;
    --hoverBg: #ff9a9a;
    --text: #bbb;
}

.community-image-drag-wrapper {
    width: 100%;
    margin: 5.0rem auto;
    text-align: center;
}

.community-image-label {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    cursor: pointer;
    background-color: var(--bgColor);
}

.community-inner {
    width: 100%;
    height: 128px;
    margin: 64px auto;
    border-radius: 12px;
    font-size: 16px;
    line-height: 128px;
    background-color: var(--bgColor);
    color: var(--text);
}

@media (any-hover: hover) {
    .image-label:hover {
        background-color: var(--hoverBg);
    }
}

.community-image-label--hover {
    background-color: var(--hoverBg);
}

.preview-title {
    font-size: 1.5rem;
    margin-bottom: 1.0rem;
}

.community-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    align-items: center;
    background-color: var(--bgColor);
}

.community-embed-img {
    object-position: center;
    object-fit: cover;
    border-radius: 8px;
}

.content-wrapper {
    position: relative;
    margin-top: 1rem !important;
    height: 50rem !important;
}


/* 이너텍스트 */

.content-area-text {
    position: absolute;
    left: 2%;
    padding-top: 1rem;
    padding-right: 2rem;
}


/* 캔버스 */

.maincanvas {
    position: absolute;
    bottom: -40%;
    left: 10%;
    z-index: -99;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}


/* 배경 */

.canvasimg {
    position: absolute;
    z-index: -99;
    opacity: 0.3;
    width: 100%;
    height: 50rem !important;
    border-radius: 5rem 5rem 5rem 5rem !important;
}

.canvasimg img {
    border-radius: 1rem;
    height: 100%;
}