body{
    margin: 0px;
    padding: 0px;
}

.view-post-wrapper{
    margin-top: 3.0rem;
    padding: 2.0rem;
}

.post-reply-content-wrapper{
    padding: 0.3rem;
    margin: 0.3rem;
}

.post-reply-content-container{
    padding: 0.3rem;
    margin: 0.3rem;
}

.post-reply-content{
    color: orange;
    padding: 0.3rem;
    margin: 0.3rem;
}


.reply-child{
    color: green;
    padding: 0.3rem;
    margin: 0.3rem;
}